/* bg color = 	#301934, form-bg-color =  #50C878, button-color = gold  */
@font-face {
    font-family: 'nunito';
    src: url(/font/Nunito-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito';
}



body{
    background:#301934 ;
}

.container{
    margin: 4rem 0 0 0;
}

.container{
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating{
    from{transform: translate(0, 0px);}
    65% {transform: translate(0, 15px);}
    to{transform: translate(0, -0px);}
}

form{
    max-width: 500px;
    background-color:#50C878;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

/* 
form{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

/* @keyframes floating{
    from{transform: translate(0, 0px);}
    65% {transform: translate(0, 15px);}
    to{transform: translate(0, -0px);}
} */
input{
    border: none;
    outline: none;
    margin: 0.7rem 0;
    padding: 0.6rem;
    
}

select{
    width: 26.3rem;
    border-radius: 0.3rem;
    height: 2.5rem;
    border: none;
    outline: none;
}

#password, #confpassword{
    width: 13rem;
    height: 2.5rem;
    border-radius: 0.3rem;
}

#nickname{
    width: 26rem;
    border-radius: 0.3rem;
    height: 2.5rem;
}

#Fname, #Lname{
    width: 13rem;
    height: 2.5rem;
    border-radius: 0.3rem;
}

.header-box h1, p{
    text-align: center;
    color: white;
}

.sign-up{
    margin: 1rem 0 0 0;
    padding: 0.5rem 11.1rem;
    background: gold;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1rem;
    /* border-radius: 0.5rem; */
}

.sign-up:hover{
    background-color: rgb(233, 198, 2);
}

.terms-condition{
    margin: 1rem 0 0 0;
}

.terms-condition a{
    text-decoration: none;
    color:#301934;
}
.details{
    margin: -2rem 0 3rem 0;
}

.details a{
    color: gold;
    text-decoration: none;
}

form > span{
    font-size: 0.8rem;
    color: red;
    display: none;
}

